@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    line-height:1.4;
}
section#home {
    background: url("../img/home-background-1366x768.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:700px;
    margin-top:70px;
}
section#home .container {
    background-color:transparent;
}
.navbar {
    width:100%;
    background-image: url(../img/nav-bg.png);
    background-position: center center;
    background-repeat:  no-repeat;
    min-height:80px;
    position: fixed;
}

.ml-auto {
    margin: 0 auto;
}

.navbar a {
    font-family: 'Satisfy', cursive;
    font-size:20px;
    margin-left:25px;
    color:#639ba7;
}
.navbar a:hover {
    color:#4e7a83;
}
.col-lg-12 {
    width:100%;
    text-align:center;
}
#logo-home {
    margin-top:120px;
    width:35%;
}

/*------------------------------------- Section reservation -------------------------------------*/
section#reservation {
    background: url("../img/reserveren-background-bij-assie.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:80px;
    padding-bottom:80px;
}
#reservation .container {
    background-color:rgba(255, 255, 255, 0.22);
    min-height: 400px;
}
input {
    width:100%;
    padding:7px 10px;
    border-radius:.25rem;
    border: 1px solid rgba(0,0,0,.15);
}
#reserve {
    background-color:#639ba7;
    width:40%;
    float:right;
    border-color: rgba(255, 255, 255, 0.52);
    font-weight: bold;
    line-height: 1.25;
    font-size: 1rem;
    color:white;
    margin-top:24px;
    margin-bottom:50px;
}
#reserve:hover {
    background-color:#588993;
}
h1, h3 {
    font-family: 'Satisfy', cursive;
}
h1 {
    padding-top:30px;
    color:white;
    text-align: center;
}
h3 {
    color:white;
}
.col-6 {
    margin-top:10px;
}
label {
    margin-bottom: .2rem;
    font-weight: bold;
    color:white;
}
#special {
    margin-top:10px;
}
.error {
    color:red;
}
/*------------------------------------- Section our-store -------------------------------------*/
section#onze-winkel {
    background: url("../img/reserveringen-background-bij-assie.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:20px;
    min-height:700px;
}
.white {
    color:#639ba7;
    margin-top:10px;
}
p, h4 {
    color:#639ba7;
}
#intro {
    margin-bottom:40px;
    margin-top:20px;
}
h4 {
    font-weight:bold;
    font-size:14px;
    margin-top:20px;
    margin-bottom:0;
}
#row2 {
    margin-top:10px;
}
/*------------------------------------- Section workshops -------------------------------------*/
section#workshops {
    background: url("../img/reserveren-background-bij-assie.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:20px;
    padding-bottom:80px;
    min-height:700px;
}
.intro-workshop {
    margin-top:20px;
    margin-bottom:15px;
    color:white;
}
.p-blue {
    color:white;
    margin-top:0;
}
.h4-blue {
    color:white;
}
#quest_reservation {
    color:white;
    text-decoration:underline;
}
#quest_reservation:hover {
    color:#588993;
}
/*------------------------------------- Page workshop-pics.php -------------------------------------*/
section#workshop-pics {
    background: url("../img/reserveringen-background-bij-assie.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:40px;
    padding-bottom:40px;
    min-height:300px;
}

/*------------------------------------- Page Create.php -------------------------------------*/

.logout{
    width:100%;
    height:30px;
    background-color:#639ba7;
}
#logout-button {
    width:12px;
}
.logout a,  .logout a:hover, table a {
    float:right;
    color:white;
    padding-right:10px;
    padding-top:5px;
    text-decoration:none;
}
.create {
    font-size:1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:normal;
}
hr {
    margin:5px;
}
#wrapper {
    padding:10px;
}

/*------------------------------------- Page contact -------------------------------------*/
section#contact {
    background: url("../img/reserveringen-background-bij-assie.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:40px;
    padding-bottom:40px;
    min-height:300px;
}
.white-contact {
    color:#639ba7;
    margin-top:-30px;
}